<script>
  import MovieList from './MovieList.svelte';
</script>

<div class="main">
  <div class="headline">
    <div class="headline__icon">
      <svg
        width="24"
        height="26"
        viewBox="0 0 24 26"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1.60895 0.333333C0.74703 3.52334 0.210714 6.71335 0 9.90335C1.29227 6.21492 4.82851 3.56738 8.98838 3.56738C9.58077 3.56738 10.1605 3.62107 10.7229 3.72381C7.85547 2.32216 4.81747 1.192 1.60895 0.333333ZM18.2516 15.156H12.0455C11.3988 15.9763 10.3916 16.5035 9.26017 16.5035C7.30876 16.5035 5.72682 14.935 5.72682 13C5.72682 11.065 7.30876 9.49646 9.26017 9.49646C10.3916 9.49646 11.3988 10.0237 12.0455 10.844H18.2516C17.9024 9.36289 17.2012 8.01606 16.2402 6.89491C18.8712 8.65134 21.3552 10.6864 23.6924 13C21.3734 15.3093 18.8854 17.3489 16.2284 19.1189C17.1954 17.995 17.9009 16.6432 18.2516 15.156ZM1.60895 25.6667C0.74703 22.4766 0.210714 19.2866 0 16.0966C1.29228 19.7851 4.82851 22.4326 8.98838 22.4326C9.58729 22.4326 10.1733 22.3777 10.7415 22.2728C7.84807 23.6911 4.80389 24.8224 1.60895 25.6667Z"
          fill="white"
        />
      </svg>
    </div>
    <div class="headline__applicant">
      <span class="headline__applicant-position">Code challenge</span>
      <span class="headline__applicant-name">Front end developer</span>
    </div>
  </div>
  <MovieList />
</div>

<style lang="scss">
  @import './colors.scss';

  .main {
    height: 100%;
    background-color: $color-gray--light;
  }

  .headline {
    text-align: center;
    color: $color-white;
    background-color: $primary-color;
    padding: 12px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__applicant {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      &-position {
        font-weight: 400;
        font-size: 0.75rem;

        + .headline__applicant-name {
          margin-top: 5px;
        }
      }
      &-name {
        font-weight: 600;
        font-size: 0.75rem;
      }
    }
  }
</style>
