$primary-color: #4c16c9;
$text-color--primary: #0c1932;
$text-color--secondary: rgba(12, 25, 50, 0.8);
$text-color--tertiary: rgba(12, 25, 50, 0.6);

// colors
$color-white: #ffffff;
$color-gray--light: #f5f7fa;
$color-gray--medium: #d8e1eb;
$color-gray--dark: #abbbcc;
