<script lang="ts">
  import { getMovies, type MovieData } from './lib/api';
</script>

<div class="movieList">
  <header class="movieList__header">
    <h1>Lord of the Rings Movies</h1>
    <div class="movieList__header__metrics">
      <div>Avg. movie runtime: xxx min</div>
      <div>Avg. movie budget: $xx M</div>
    </div>
    <input
      class="movieList__header__filter"
      placeholder="Filter movies by name"
    />
    <select
      class="movieList__header__sort"
      placeholder="Filter movies by name"
    />
  </header>
  <main class="movieList__items">Good luck &#128540;!</main>
</div>

<style lang="scss">
  @import './colors.scss';

  .movieList {
    padding: 18px;
    font-size: 0.9rem;

    &__header {
      position: relative;
    }

    &__items {
      display: grid;
    }
  }
</style>
