<script lang="ts">
  import type { MovieData } from './lib/api';
  import filmIcon from './assets/film.svg';

  export let data: MovieData;
</script>

<div class="card">
  <div class="card__banner">
    <img src={filmIcon} alt="icon" class="card__banner__icon" />
  </div>
  <span class="card__title">{data.name}</span>
  <div class="card__runtime">{data.runtimeInMinutes}</div>

  <div class="card_awards">
    <img src={filmIcon} alt="icon" class="card__awards__icon" />
    <span>
      {data.academyAwardWins} Wins & {data.academyAwardNominations} Nominations
    </span>
  </div>

  <div class="card_metrics">
    <span>Budget</span>
    <span>${data.budgetInMillions}</span>

    <span>Revenue</span>
    <span>${data.boxOfficeRevenueInMillions}</span>
  </div>
</div>

<style lang="scss">
  @import './colors.scss';

  .card {
    position: relative;
    background: $color-white;

    &__banner {
      background: $color-gray--dark;
    }
  }
</style>
